body {
    background-color: 	#008080;
    font-family: 'ABeeZee', sans-serif;

}

.header {
    background-color: #66b2b2;

    margin-bottom: 1%;
    text-align: center;
    padding: 1%;
    width: 90
}

.drop-down {
    background-color:  #b2d8d8;
    width: 90%;
    margin-left: 7%;
    cursor: pointer;
    
}

.button-push {
    margin-left: 7%; 
}

.toppers {
    margin-left: 7%
}

.submit-clear-button{
    background-color: #004c4c;
    border: none;
}


.images {
        margin-top: 6%;
        border: none;
        height: 25%;
        width: 25%;

     }
 
 .logo{
     width: 14%;
     margin-bottom: 0%;
     cursor: pointer; 
 }
 
 .main-container{
    margin-left: 6%;
}

.welcome{
    background-color: #66b2b2;
    margin-bottom: 1%;
    text-align: center;
    padding: 1%;
    width: 99;
    font-size: 50px;
    padding-bottom: 0%;
    padding-left: 5.5%;
    
}

.about-us{
    margin-left: 7% 
}

.tent{
    margin-bottom: 20px;
    padding-bottom: 0%;
    
}