body {
    background-color: 	#008080;
    font-family: 'ABeeZee', sans-serif;

}

.header {
    background-color: #66b2b2;

    margin-bottom: 1%;
    text-align: center;
    padding: 1%;
    width: 90
}

.dropdown {
    background-color:  #b2d8d8;
    width: 90%;
    margin-left: 7%;
    cursor: pointer;
    
}

.dropdown:hover {
    background-color: #66b2b2;
    border: #66b2b2;    
}

.button-push {
    margin-left: 7%; 
}

.toppers {
    margin-left: 7%
}

.submit-clear-button{
    background-color: #004c4c;
    border: none;
}

.submit-clear-button:hover{
    background-color: #fc6020;
}

.submit-clear-button:active:hover{
    background-color: #fc6020 !important;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
}
.submit-clear-button:focus{
    background-color: #66b2b2;
}

.submit-clear-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;

  }
  
  .submit-clear-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
  }
  
  .submit-clear-button:hover span {
    padding-right: 25px;
    color: white;
  }
  
  .submit-clear-button:hover span:after {
    opacity: 1;
    right: 0;
    color: white;

  }



.images {
        margin-top: 6%;
        border: none;
        height: 25%;
        width: 25%;

     }
 
 #logo-top{
     width: 14%;
     margin-bottom: 0%;
     cursor: pointer; 
 }
 
 .main-container{
    margin-left: 6%;
}

.welcome{
    background-color: #66b2b2;
    margin-bottom: 1%;
    text-align: center;
    padding: 1%;
    width: 99;
    font-size: 50px;
    padding-bottom: 0%;
    padding-left: 5.5%;
    font-family: 'Kaushan Script', cursive;
    
}

.about-us{
    margin-left: 7% 
}

.tent{
    margin-bottom: 20px;
    padding-bottom: 0%;
    
}

.navbar{
    background-color: #66b2b2 !important;
    margin-top: 40px;
    bottom: 0%;
    height: 50px;
    width: 100%;
    position: sticky;
}

#logo-bottom{
    width: 14%;
    margin-bottom: 0%;
    cursor: pointer; 
    margin-left: 44%;
    border-top: solid 1px #fc6020;

}


/*-------------SlideShow----------------------*/

    .carousel-container {
        width: 100%;
        height: 100%;
        overflow:hidden;
        margin-bottom: 20px;

    }

    .carousel-slide {
        display: flex; /*puts images next to one another*/
        width: 100%;
        height: 500px;
    }

    #prevBtn {
        position: absolute;
        top: 50%;
        z-index: 10; /*appears on top */
        left: 5%;
        font-size: 30px;
        color: #008080;
        opacity: .8
    }

    #prevBtn:hover {
        color: #fc6020;
        cursor: pointer;
    }

    #nextBtn {
        position: absolute;
        top: 50%;
        z-index: 10; /*appears on top */
        right: 5%;
        font-size: 30px;
        color: #008080;
        opacity: .8
        
    }

    #nextBtn:hover {
        color: #fc6020;
        cursor: pointer;
    }

   .slide-photo{
    margin-top: 10px;
    max-width:100%;
    height:auto;
   }

   .slide-welcome{
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    top: 60%;
    z-index: 10; /*appears on top */
    text-align: center;
    color: white;
    margin-bottom: 70%;
    margin-left: 360px;
   }

   /*---------------------weather--------------------------*/
   
  
   .card-body{
    background-color: #b2d8d8;
    color: black;
    border-radius: 15px;
    background-color: 008080
}

.card{
    background-color: #b2d8d8 !important;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;

}

.container-fluid{
    width: 100%;
    margin-top: 20px;
  }
  
  #forecast{
    margin-left: 8%;
  }
  

/* ----------------Resturant----------------------*/

.results-div {
    width: 90%
  }
  
  .resturant-title{
      margin-left: 15px;
    }
  
  #restaurant, #pointsOfInterest{
      overflow: auto;
      height: 500px;
      margin-left: 11%;
      border-radius: 15px;
      
  
    }
    .restaurant-photos, .points-of-int-photos{
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 20px;
    margin-top: 20px;

    }
    
    #pointsOfInterest {
        margin-right: 5.75%;
    }
     #pointsOfInterestTitle {
       margin-left: 6%;
       margin-top: 40px;
     }

    #restaurant-title {
      margin-left:9%;
      margin-top: 40px
    }

    .title-row {
        width: 90%
    }
   /*---------------------preloader--------------------------*/

   .loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #008080;;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid#fc6020;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2.5s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .8s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 0; }
}
  
/*Orange ScrollBars*/
 /* width */
 ::-webkit-scrollbar {
    width: 5px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #fc6020; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #fc6020; 
  }